/* #region COMMON and Utilities */
:root {
    --ex-primary: rgba(26, 188, 156, 1);
    --ex-secondary: rgba(44, 62, 80, 1);
    --ex-terziary: rgba(58, 84, 109, 1);
    --ex-bordeaux: rgba(186, 75, 99, 1);
    --ex-light-azure: rgba(30, 164, 182, 1);
    --ex-azure: rgba(28, 131, 193, 1);
    --ex-beidge: rgba(204, 178, 163, 1);
    --ex-blue: rgba(14, 56, 181, 1);
    --ex-dark: rgba(20, 15, 15, 1);
    --ex-lighter: rgba(255, 255, 255, 1);
    --ex-dark-grey: rgba(52, 52, 52, 1);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn_my_primary {
    background-color: var(--ex-primary);
    border: solid var(--ex-primary);
}

.btn_my_primary:hover {
    background-color: var(--ex-primary);
}

.form-control:focus {
    box-shadow: 0 0 0 .25rem var(--ex-primary);
}


/* #endregion COMMON and Utilities */


/* #region HEADER */
#site_header {
    background-color: var(--ex-secondary);
}

#site_header nav {
    min-height: 90px;
}

/* #endregion HEADER */

/* #region MAIN */
#site_main .jumbotron {
    background-color: var(--ex-primary);
}

.jumbotron .jumbo_image {
    max-width: 225px;
}

.star::before,
.star::after {
    content: "";
    display: inline-block;
    height: 4px;
    width: 15%;
    background-color: var(--ex-lighter);
    margin: 0 1rem;
}

.star_black::before,
.star_black::after {
    content: "";
    display: inline-block;
    height: 4px;
    width: 15%;
    background-color: var(--ex-dark);
    margin: 0 1rem;
}

#site_main #about {
    background-color: var(--ex-primary);
}

.btn_download:active,
.btn_my_primary:active {
    scale: 0.9;
}

/* #endregion MAIN */

/* #region FOOTER */
#footer_top {
    background-color: var(--ex-terziary);
}

#footer_top span {
    margin: 0 0.25rem 1rem 0;
    display: inline-block;
    border: 1px solid white;
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

#footer_top span i {
    line-height: 50px;
    scale: 1.5;
}

#footer_bottom {
    height: 110px;
    background-color: var(--ex-secondary);
}

#start_boot_link {
    color: var(--ex-primary);
}

#footer_bottom i {
    scale: 0.5;
    height: 0.5rem;
}

/* #endregion FOOTER */

/* #region MEDIA SCREEN */

@media screen and (min-width: 768px) {

    h1,
    h2 {
        font-size: 3.5rem;
    }

    h5 {
        font-size: 1.5rem;
    }
}

/* #region DEBUG */

.debug * {
    border: 1px dashed white;
}

.debug .jumbotron {
    height: 500px;
}

.debug #portfolio [class^=col] {
    background-color: red;
}

.debug #portfolio [class^=card] {
    aspect-ratio: 1 / 1;
}

/* #endregion DEBUG */