/* #region COMMON and Utilities */
:root {
    --ex-primary: rgba(26, 188, 156, 1);
    --ex-secondary: rgba(44, 62, 80, 1);
    --ex-terziary: rgba(58, 84, 109, 1);
    --ex-bordeaux: rgba(186, 75, 99, 1);
    --ex-light-azure: rgba(30, 164, 182, 1);
    --ex-azure: rgba(28, 131, 193, 1);
    --ex-beidge: rgba(204, 178, 163, 1);
    --ex-blue: rgba(14, 56, 181, 1);
    --ex-dark: rgba(20, 15, 15, 1);
    --ex-lighter: rgba(255, 255, 255, 1);
    --ex-dark-grey: rgba(52, 52, 52, 1);
}

a {
    text-decoration: none;
}


/* #endregion COMMON and Utilities */


/* #region HEADER */
#site_header {
    background-color: var(--ex-secondary);
}

#site_header nav {
    min-height: 90px;
}

/* #endregion HEADER */

/* #region MAIN */
#site_main #jumbotron {
    background-color: var(--ex-primary);
}

#jumbotron .image {
    width: 225px;
}

#site_main #about {
    background-color: var(--ex-primary);
}

/* #endregion MAIN */

/* #region FOOTER */
#footer_top {
    background-color: var(--ex-terziary);
}

#footer_bottom {
    height: 110px;
    background-color: var(--ex-secondary);
}

/* #endregion FOOTER */


/* #region DEBUG */

.debug * {
    border: 1px dashed white;
}

.debug #jumbotron {
    height: 500px;
}

.debug #portfolio [class^=col] {
    background-color: red;
}

.debug #portfolio [class^=card] {
    aspect-ratio: 1 / 1;

}

/* #endregion DEBUG */