/* #region COMMON and Utilities */
:root {
    --ex-primary: rgba(26, 188, 156, 1);
    --ex-secondary: rgba(44, 62, 80, 1);
}

a {
    text-decoration: none;
}


/* #endregion COMMON and Utilities */


/* #region HEADER */
#site_header {
    background-color: var(--ex-secondary);
}

#site_header .row {
    height: 90px;
}

#site_header .row a {
    color: white;
}

/* #region MAIN */

#site_main #jumbotron {
    background-color: var(--ex-primary);
}

#site_main .image {
    width: 225px;
}

#site_main #about {
    background-color: var(--ex-primary);
}


/* #region DEBUG */

.debug * {
    border: 1px dashed white;
}

.debug #jumbotron {
    height: 500px;
}

.debug #portfolio [class^=col] {
    background-color: red;
}

.debug #portfolio [class^=card] {

    height: 150px;
}


/* #endregion DEBUG */